<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <div class="navBar">
    <a href="/movies">All Movies</a>
    <a href="/movies/new">Add New Movie</a>
    <a href="/celebrities">All Celebs</a>
    <a href="/celebrities/new">Add New Celeb</a>
  </div>
  <div class="main">
    {{{body}}}
  </div>
</body>

</html>