body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.navBar {
    width: 100%;
    height: 75px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navBar a {
    color: black;
    font-size: 24px;
    text-decoration: none;
}

.main {
    padding: 4rem;
}