<h2>Movie Details</h2>
<h3>{{movie.title}}</h3>
<a href="/celebrities/details/{{movie.director._id}}">
  <h3>{{movie.director.name}}</h3>
</a>
<p>{{movie.genre}}</p>
<q>{{movie.plot}}</q>

<br>
<br>
<br>
<a href="/movies/{{movie._id}}/edit">Edit Movie</a>
<form action="/movies/{{movie._id}}/delete" method="POST"><button>Delete Movie</button></form>